<section class="container py-4">
  <div class="row">
    <div class="col-12">
      <div class="fs-6">
        <h1 class="fs-4 fw-lighter">Upload Documents</h1>
        <p class="lead mb-1">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        <ul class="fs-6 fw-lighter">
          <li class="my-1"><span>Contrary to popular belief, Lorem Ipsum is not simply random text.</span></li>
          <li class="mb-1"><span>comes from a line in section 1.10.32.</span></li>
          <li class="mb-1"><span>Contrary to popular belief, Lorem Ipsum is not simply random text.</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <app-nonperson *ngFor="let title of nonePersonList" title="{{title}}"></app-nonperson>
  </div>
</section>
