<div class="col-md-8 col-sm-12 pe-2 py-4">
  <h4 class="text-uppercase fs-4 fw-lighter mb-3">Counter = {{count$ | async}}</h4>
  <input type="number" [(ngModel)]="countVal" class="form-control me-4" placeholder="Enter Count Value"/>
  <button (click)="handleAddCount()" class="btn btn-secondary my-2">Add Count</button>
</div>
