<!--
<div class="container">
  <div class="row justify-content-start align-items-center" style="height: 100vh">
    <div class="col-md-4 col-sm-12">
      <div class="card shadow">
        <div class="card-body px-5">
          <h1 class="fs-5 fw-lighter text-uppercase mt-4">Login - Ngrx State Demo</h1>
          <form class="my-4" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group mb-3">
              <label class="fs-6 fw-light text-muted">Email</label>
              <input type="email" formControlName="email" class="form-control my-2" placeholder="Enter Your Email">
            </div>
            <div class="form-group mb-3">
              <label class="fs-6 fw-light text-muted">Password</label>
              <input type="password" formControlName="password" class="form-control mt-2" placeholder="Enter Your Password">
            </div>

            <div class="d-grid mt-4 ">
              <button type="submit" class="btn btn-warning text-white text-uppercase">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-12 mx-0 px-3">
      <h1 class="display-5 mb-4 text-muted"><span class="display-6">Welcome Learn To </span><span class="text-uppercase">State Management</span></h1>
      <h3 class="lead mb-5" style="letter-spacing: 1px">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</h3>
    </div>
  </div>
</div>
-->
