<!--<div class="brand-img" style="height: 100vh;overflow: hidden">
  <div class="row justify-content-center py-5">
    <div class="col-md-6 col-sm-12">
      <h4 class="text-uppercase fs-4 fw-lighter">Counter = {{count$ | async}}</h4>
      <div class="my-4">
        <button class="btn btn-primary" (click)="handleIncrement()">Increment Count</button>
        <button class="btn btn-warning mx-3" (click)="handleDecrement()">Decrement Count</button>
        <button class="btn btn-danger" (click)="handleReset()">Reset Count</button>
      </div>
      <app-add-counter></app-add-counter>
    </div>
  </div>
</div>-->

<!--<div class="brand-img" style="height: 100vh">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6 col-sm-12">
        <input type="file" multiple (change)="fileBrowseHandler($event)" class="form-control"/>
        <div class="col-12">
          <div *ngFor="let file of files" class="borders">
            <span class="fs-5 fw-lighter mx-1">{{file.name}}</span>
            <span class="lead">({{ formatBytes(file?.size) }})</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->

<div class="brand-img" style="height: 100vh;overflow: hidden">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand text-uppercase" href="#">Ngrx State Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/counter']">Counter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/supporting-document']">Documents</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="container py-5">
    <router-outlet></router-outlet>
  </section>
</div>
