<div class="row">
  <div class="col-12">
    <div class="accordion mb-3">
      <div class="accordion-item">
        <div class="accordion-header">
          <h4 class="accordion-button bg-light lead text-muted"><i class="bi bi-filetype-pdf me-2"></i>{{title}}</h4>
        </div>
        <div class="accordion-body"></div>
      </div>
    </div>
  </div>
</div>
